<template>
  <div>
    <el-row :gutter="20">
      <h2>Grupo Nº {{ grupo.numero }} - {{ grupo.nombre }}</h2>

      <el-col :span="12">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Datos generales</span>
            <el-button style="float: right; padding: 3px 0" type="text">Editar</el-button>
          </div>
          <div>{{ grupo.direccion }}</div>
          <div>{{ grupo.telefono }}</div>
          <div>{{ grupo.email }}</div>
        </el-card>
      </el-col>

      <el-col :span="12">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Estadísticas</span>
            <el-button style="float: right; padding: 3px 0" type="text">Editar</el-button>
          </div>
          <div v-for="o in 4" :key="o" class="text item">
            {{'Dato ' + o }}
          </div>
        </el-card>
      </el-col>
      <el-col :span="24">
        <el-card class="box-card" style="margin-top: 20px">
          <div slot="header" class="clearfix">
            <span>Secciones</span>
            <el-button style="float: right; padding: 3px 0" type="text">Editar</el-button>
          </div>
          <div>
            <el-row 
              :gutter="20" 
              type="flex" 
              style="flex-wrap: wrap;">
              <el-col 
                :span="6" 
                v-for="seccion in grupo.secciones" 
                :key="seccion.nombre">
                <seccion-card :seccion="seccion" editar/>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import SeccionCard from './SeccionCard'

export default {
  name: 'GrupoDetail',
  data () { 
    return {
      grupo: {
        nombre: "San Francisco de Asis",
        numero: 1,
        direccion: "Siemprevivas 123, Springfield",
        telefono: "1234-1234",
        email: "email@example.com",
        secciones: [
          {nombre: "Ronda Virgen niña"},
          {nombre: "Manada Mowgli"},
          {nombre: "Comunidad Scout Santa Juana de Arco"},
          {nombre: "Tropa Scout San Jorge"},
          {nombre: "Comunidad Raider Santa Juana de Arco"},
          {nombre: "Tropa Raider San Jorge"}
        ]
      }
    }
  },
  components: {
    SeccionCard
  }
}
</script>


<style>
.image {
  width: 100%;
  display: block;
}
</style>
