<template>
  <el-menu>
    <h1><img src="../assets/logo.png"></h1>
    <el-menu-item index='1'>
      <i class='el-icon-menu'></i>
      <span>Inicio</span>
    </el-menu-item>
    <el-menu-item index='2'>
      <i class='el-icon-document'></i>
      <span>Grupos</span>
    </el-menu-item>
    <el-menu-item index='3'>
      <i class='el-icon-document'></i>
      <span>Personas</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  name: 'Nav'
}
</script>
