<template>
  <el-form :model="persona" label-width="150px" label-position="right">
    <el-form-item label="Nombre">
      <el-input v-model="persona.name"></el-input>
    </el-form-item>
    <el-form-item label="DNI">
      <el-input v-model="persona.dni"></el-input>
    </el-form-item>
    <el-form-item label="Fecha de nacimiento">
      <el-date-picker v-model="persona.fecha_nacimiento"></el-date-picker>
    </el-form-item>
    <el-form-item label="Email">
      <el-input v-model="persona.email" type="email"></el-input>
    </el-form-item>
    <el-form-item label="Telefono">
      <el-input v-model="persona.telefono"></el-input>
    </el-form-item>
    <el-form-item label="Celular">
      <el-input v-model="persona.celular"></el-input>
    </el-form-item>
    <el-form-item label="Celular">
      <el-input v-model="persona.celular"></el-input>
    </el-form-item>
    <el-form-item label="Secciones">
      <el-select v-model="persona.secciones" multiple placeholder="Seleccionar">
        <el-option
          v-for="item in secciones"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </el-form-item>
  </el-form>
</template>

<script>
import Swagger from 'swagger-client'

export default {
  name: 'persona-form',
  props: ['persona'],
  data () {
    return {
      secciones: []
    }
  },
  created () {
    Swagger('http://localhost:9090/v1.0/swagger.json')
      .then(client => {
        client.apis.default.api_secciones_search().then(res => {
          this.secciones = res.body.map(x => ({label: x.nombre, value: x.id}))
        })
      })
      .catch(err => {
        console.error(err)
      })
  }
}
</script>

<style>
</style>
