<template>
  <div class='hello'>
    <el-button type="primary" icon="el-icon-plus" plain>Agregar persona nueva</el-button>
    <div style="margin-top: 15px;">
      <el-input placeholder="Buscar" v-model="input5" class="input-with-select">
        <el-button slot="append" icon="el-icon-search"></el-button>
      </el-input>
    </div>
    <el-table
      :data='personas'>
      <el-table-column
        prop='nombre'
        label='Nombre'>
      </el-table-column>
      <el-table-column
        prop='dni'
        label='DNI'>
      </el-table-column>
      <el-table-column
        prop='fecha_nacimiento'
        label='Fecha de nacimiento'>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import Swagger from 'swagger-client'

export default {
  name: 'PersonaList',
  data () {
    return {
      personas: [],
      persona: {},
      schema: false
    }
  },
  methods: {
    crearPersona () {
      this.$refs.form.form().validate((valid) => {
        if (valid) {
          console.debug('Creando persona', this.model)
          Swagger('http://localhost:9090/v1.0/swagger.json')
            .then(client => {
              client.apis.default.api_personas_post({ 'persona': this.model }).then(res => {
                this.personas.push(res.body)
                this.model = {}
              })
            })
            .catch(err => {
              console.error(err)
            })
        } else {
          console.log('Form has errors')
          return false
        }
      })
    }
  }
}
</script>
