<template>
  <el-card :body-style="{ padding: '0px'}">
    <img src="https://placehold.it/300x200" class="image">
    <div style="padding: 14px;">
      <span>{{ seccion.nombre }}</span>
      <div class="bottom clearfix" v-if="editar !== undefined">
        <el-button type="text" class="button">Editar</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'seccion-card',
  props: ['seccion', 'editar']
}
</script>
