<template>
  <el-container style="height: 95vh">
    <el-aside width='200px'>
      <Nav/>
    </el-aside>
    <el-main>
      <router-view/>
    </el-main>
  </el-container>
</template>

<script>
import Nav from './components/Nav'

export default {
  name: 'App',
  components: {
    Nav
  }
}
</script>
